<div class="col-xs-18 col-sm-6 col-md-4">
  <div class="thumbnail">
    <img src="{{issue.photo_path}}" alt="" class="img-responsive">
    <div class="caption">
      <hr>
      <p><span class="label label-default">{{issue.created_at*1000 | date :'yMMMdjms' }}</span></p>
      <p *ngIf="issue.address.toString() != ''"><span class="glyphicon glyphicon-map-marker"></span>&nbsp;{{issue.address}}
      </p>
      <p><a href="#" class="btn btn-info btn-xs" routerLink="/issue" (click)="addIssueToStore()"  role="button">Деталi</a></p>
    </div>
  </div>
</div>


