<!--<button (click)="authorization();">CLick me</button>

<form *ngIf="showAuthorizationForm"></form>-->

<form *ngIf="!authorized" class="navbar-form navbar-right" role="search">
  <div class="form-group">
    <input id="user-login" #login class="form-control" name="username" placeholder="Username" type="text">
  </div>
  <div class="form-group">
    <input class="form-control" name="password" placeholder="Password" type="password" id="user-password" #pass>
  </div>
  <button (click)="logIn(login.value, pass.value);" class="btn btn-default">Вiйти</button>
</form>

<div *ngIf="authorized" class ="authorized ">
    <span>{{rolePresentation}}: </span>
    <span>{{login}}</span>
    <button class="btn btn-default" (click)="logOut();">Выйти</button>
</div>
