<!-- Simple header with fixed tabs. -->
<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header
            mdl-layout--fixed-tabs">
    <header class="mdl-layout__header">
        <div class="mdl-layout__header-row">
            <!-- Title -->
            <span class="mdl-layout-title"><IMG src="https://scontent-waw1-1.xx.fbcdn.net/v/t34.0-12/18741875_2285062281718927_1794159518_n.png?oh=ca33f4bd79dbe4cd1cc86ec9c768739f&oe=592BC90F"/></span>
        </div>
        <!-- Tabs -->
        <div class="mdl-layout__tab-bar mdl-js-ripple-effect">
            <a href="#fixed-tab-1" routerLink="/issues" class="mdl-layout__tab is-active">Не выполненые задачи</a>
            <a href="#fixed-tab-2" routerLink="/main"  class="mdl-layout__tab">Выполненые задачи</a>
        </div>
    </header>
</div>

<router-outlet></router-outlet>